html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

#header {
	height: 200px;
	width: 100%;
	text-align: center;
}

.nav {
	float: left;
	height: calc(100% - 200px);
	margin-right: 10px;
	background-color: black;
	color: white;
	text-align: center;
}

.nav p {
	margin: 20px;
}

.nav a:link, .nav a:visited {
	text-decoration: none;
	color: white;
}

.nav a:hover, .nav a:active {
	background-color: white;
	color: black;
}

.section {
	height: calc(100% - 200px);
	margin-left: 10px;
	overflow: auto;
}

.title {
	background-color: black;
	color: white;
	text-align: center;
}

table {
	border-spacing: 10px;
}

th {
	text-align: left;
	font-size: 18px;
}